/* ------------------------------------ */
/* #$fonts
/* ------------------------------------ */
$font-family-default: Roboto, sans-serif;
$font-family-number: 'Open Sans', sans-serif;

$font-size-base:  1.6rem;
$font-size-small:  1.2rem;

$color-primary: #3288e6;
$color-primary-light: #60a3ed;
$color-black: #646464;
$color-gray: #838383;
$color-white-light: rgba(255, 255, 255, .8);

$color-font-default: $color-black;
$color-font-light: $color-gray;

$color-bg-gray: #d9d9d9;
$color-bg-gray-light: rgba(0, 0, 0, .05);
$color-bg-skyblue: #d3f1ff;
